{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "preserve",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "endOfLine": "auto"
}